{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#coffeeList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{name}}</a></td>
            <td>{{price}}</td>
        </tr>
    {{/coffeeList}}
    </tbody>
</table>

<a href="/coffee/new">New Coffee</a>

{{>layouts/footer}}