</div> <!-- main-content 종료 -->

<!-- site info -->
<footer class="footer-fixed">
    <div class="container-fluid">
        <div class="text-center">
            <p class="mb-0">ⓒ CloudStudying | <a href="#" class="text-decoration-none">Privacy</a> | <a href="#" class="text-decoration-none">Terms</a></p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>